html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
}
body {
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  line-height: 1.2;
  min-width: 320px;
  font-size: 15px;
  color: black;
}
button {
  border: none;
  background-color: transparent;
}
a {
  display: block;
}
.container {
  min-width: 319px;
  max-width: 1600px;
  margin: 0 auto;
}
.header {
  margin: 0 auto;
  height: 54px;
  margin-bottom: 34px;
  border-bottom: 1px solid #e6e6e6;
  height: 54px;
  position: relative;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
}
.header-burger {
  width: 48px;
  height: 48px;
  margin: 1px;
  margin-right: 7px;
  font-size: 20px;
  border: none;
  background-image: url("../img/menu.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.header-search {
  padding: 8px 8px 8px 0;
  margin: 2px 2px 1px 0px;
  margin-left: 4px;
  margin-right: 6px;
  height: 34px;
  width: 34px;
  background-image: url("../img/icons8-search.svg");
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
}
.header-shop {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 1px;
  margin-right: 12px;
  font-size: 20px;
  border: none;
  background-image: url("../img/shopping-cart.svg");
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
}
.header-search__span {
  display: none;
}

.header-shop__span {
  display: none;
}
.header-signIn__span {
  display: none;
}
.header-signIn {
  display: flex;
  align-items: center;
  height: 48px;
  margin: 1px;
  margin-right: 0px;
  margin-left: 3px;
  font-size: 20px;
  border: none;
}
.header-signIn__img {
  width: 32px;
  height: 32px;
}
.header-link {
  margin: 1px;
  padding: 10px 0px 10px 8px;
}
.header-link__img {
  width: 108px;
  height: auto;
}
.header-surface {
  left: 0;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  height: 34px;
  position: absolute;
  width: 100%;
  top: 54px;
}
.header-surface__btn {
  border: 0;
  color: #000;
  display: block;
  font-weight: 600;
  height: 100%;
  margin: 0 1px;
  padding: 0 15px;
  text-align: left;
}
.header-surface__btn::after {
  display: inline-block;
  width: 18px;
  height: 12px;
  content: "";
  margin-left: 10px;
  margin-top: 5px;
  background: url("../img/down-arrow.svg");
  background-position: 1px 1px;
  background-repeat: no-repeat;
}

.dn {
  display: none;
}
.df {
  width: 96px;
  display: flex;
  align-items: center;
}
.mr {
}
.all-ms-nav {
  display: none;
}
.header-list {
  display: none;
}
.all-ms-nav::before {
  display: none;
}
.non-list-1 {
  display: none;
}
.non-list-2 {
  display: none;
}
.mw1010 {
  display: none;
}

@media screen and (min-width: 860px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header {
    font-size: 13px;
    margin-bottom: 2px;
    border-bottom: none;
  }
  .header-burger {
    display: none;
  }
  .mr {
    margin-right: 0px;
  }
  .header-signIn {
    margin-right: 4px;
    padding: 0;
    margin-left: 4px;
  }
  .header-shop {
    padding: 0;
    background-size: 16px 14px;
    margin-right: 0px;
    background-position: 17px 16px;
  }
  .header-search {
    position: absolute;
    right: 84px;
    background-size: 20px 20px;
  }
  .header-link {
    position: absolute;
    left: 0;
  }
  .header-surface {
    border-bottom: none;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 146px;
    width: fit-content;
  }
  .header-surface__btn::after {
    display: none;
  }
  .header-surface__btn::before {
    border-left: 2px solid #000;
    height: 24px;
    content: " ";
    cursor: auto;
    margin-left: -20px;
    position: absolute;
  }
  .all-ms-nav {
    display: block;
    position: absolute;
    right: 126px;
    height: 92%;
  }
  .nav-block:hover .all-ms-nav::before {
    display: block;
    background: black;
    content: "";
    height: 2px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 32px);
  }

  .all-ms-nav::after {
    display: inline-block;
    width: 18px;
    height: 12px;
    content: "";
    margin-left: 5px;
    margin-top: 5px;
    background: url("../img/down-arrow.svg");
    background-position: 1px 1px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }
  .header-item:hover .header-item__btn::before {
    background: black;
    display: block;
    content: "";
    height: 2px;
    position: absolute;
    bottom: 11px;
    width: calc(100% - 32px);
  }
  .header-list {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    position: absolute;
    top: 2px;
    left: 233px;
  }
  .header-item__btn {
    padding: 16px 4px 16px 12px;
    position: relative;
  }

  .header-item__btn::after {
    display: inline-block;
    width: 12px;
    height: 10px;
    content: "";
    margin-left: 5px;
    margin-top: 5px;
    background: url("../img/down-arrow.svg");
    background-position: 1px 1px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }

  .header-item {
    display: inline-block;
  }

  .mw1010 {
    display: none;
  }
}

@media screen and (min-width: 930px) {
  .non-list-1 {
    display: block;
    margin-right: 5px;
  }
  .non-list-1 .header-item__btn::after {
    display: none;
  }
  .non-list-1:hover .header-item__btn::before {
    background: black;
    display: block;
    content: "";
    height: 2px;
    position: absolute;
    bottom: 11px;
    width: calc(100% - 15px);
  }
}
@media screen and (min-width: 1030px) {
  .container {
    padding: 0 5%;
  }
  .non-list-2 {
    display: block;
    margin-right: 5px;
  }
  .non-list-2 .header-item__btn::after {
    display: none;
  }
  .non-list-2 .header-item__btn::after {
    display: none;
  }
  .non-list-2:hover .header-item__btn::before {
    background: black;
    display: block;
    content: "";
    height: 2px;
    position: absolute;
    bottom: 11px;
    width: calc(100% - 15px);
  }
  .mw1010 {
    display: block;
  }
  .header-item__more {
    display: none;
  }
}
@media screen and (min-width: 1399px) {
  .header-search__span {
    display: block;
    position: absolute;
    left: -32px;
    top: 9px;
  }

  .header-shop__span {
    display: block;
    font-size: 13px;
    position: absolute;
    top: 16px;
    left: -12px;
  }
  .header-signIn__span {
    display: block;
    font-size: 13px;
    margin-right: 10px;
  }
  .header-shop {
    margin-right: 6px;
  }
  .all-ms-nav {
    right: 245px;
  }
  .header-search {
    right: 170px;
  }
  .df {
    width: auto;
  }
}
